body {
  max-width: 945px;
  margin: auto;
  padding: 1em;
  background-color: rgb(248, 229, 229);
}

header {
  background-color: #caa6a6;
  padding: 10%;
  text-align: center;
  font: 2rem sans-serif;
  border-radius: 1rem;
}

body p {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5em;
  justify-items: stretch;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
}

body img {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1em;
  border: #caa6a6 solid 1px;
}

/* add background colors to all of the images */
#a {
  background-color: #ffbe0b;
}

#b {
  background-color: #fb5607;
}

#c {
  background-color: #ff006e;
}

#d {
  background-color: #8338ec;
}

#e {
  background-color: #3a86ff;
}

#f {
  background-color: #0a2a92;
}

#g {
  background-color: #0f5e5e;
}

#h {
  background-color: #1f9b9b;
}

#i {
  background-color: #0a2a92;
}

#j {
  background-color: #3a86ff;
}

#k {
  background-color: #8338ec;
}

#l {
  background-color: #fb5607;
}

#m {
  background-color: #ff006e;
}

#n {
  background-color: #ffbe0b;
}

#o {
  background-color: #0f5e5e;
}

#p {
  background-color: #1f9b9b;
}

#q {
  background-color: #0a2a92;
}

#r {
  background-color: #3a86ff;
}

#s {
  background-color: #8338ec;
}

#t {
  background-color: #fb5607;
}

#u {
  background-color: #ff006e;
}

#v {
  background-color: #ffbe0b;
}

#w {
  background-color: #0f5e5e;
}

#x {
  background-color: #1f9b9b;
}

#y {
  background-color: #0a2a92;
}

#z {
  background-color: #3a86ff;
}

#aa {
  background-color: #8338ec;
}

#ab {
  background-color: #fb5607;
}

#ac {
  background-color: #ff006e;
}

#ad {
  background-color: #ffbe0b;
}
